.container
  %h1 Hello World :)
  %p
    Wicked PDF uses the shell utility wkhtmltopdf to serve a PDF file to a user from HTML. 
    In other words, rather than dealing with a PDF generation DSL of some sort, you simply 
    write an HTML view as you would normally, then let Wicked take care of the hard stuff.
    Wicked PDF has been verified to work on Ruby 1.8.7 and 1.9.2; Rails 2 and Rails 3
